html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


:root {
	--color-light: rgb(252, 252, 252);
	--color-lightaccent: rgb(77, 197, 187);
	--color-accent: rgb(15, 136, 126);
	--color-darkaccent: rgb(17, 78, 73);
	--color-dark: rgb(10, 10, 10);
	--space-large: 5rem;
	--space-medium: 3rem;
	--space-small: 2rem;
	--space-xsmall: 1rem;
	--size-large: 5rem;
	--size-medium: 3rem;
	--size-small: 2rem;
	--size-xsmall: 1rem;
	--thickness-xlarge: 8px;
	--thickness-large: 5px;
	--thickness-medium: 3px;
}

html {
	--color-foreground: var(--color-light);
	--color-background: var(--color-darkaccent);
	--color-hover: var(--color-accent);
	--color-interact: var(--color-darkaccent);
}

html.light {
	--color-foreground: var(--color-darkaccent);
	--color-background: var(--color-light);
	--color-hover: var(--color-lightaccent);
	--color-interact: var(--color-accent);
}

html, body {
	background-color: var(--color-background);
	color: var(--color-foreground);
	width: 100%;
}

#app {
    font-family: 'Jost', 'Product Sans', 'Futura', 'Univers', sans-serif;
		font-size: 1.4rem;
}

h1 {
	font-size: 3em;
	font-weight: 500;
}

.row {
	width: 100%;
	position: relative;
}

.row-content {
	margin: var(--space-large) auto 0 auto;
	width: 740px;
	padding: 0 var(--space-small);
	max-width: 100%;
}

.horizontalRule {
	height: var(--thickness-xlarge);
	background-color: var(--color-foreground);
	margin-top: var(--space-xsmall);
	width: 8em;
}

.textInput-prompt {
	font-weight: 600;
	margin-bottom: var(--space-xsmall);
}

.textInput {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	color: inherit;
	outline: none;
	font-size: inherit;
	font-family: inherit;
	background-color: transparent;
	border: 0 solid var(--color-foreground);;
	border-bottom-width: var(--thickness-small);
	width: 100%;
	max-width: 500px;
}

.translateButton {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	color: inherit;
	outline: none;
	font-size: inherit;
	font-family: inherit;
	background-color: transparent;
	font-weight: 600;
	padding-left: var(--space-small);
	padding-right: var(--space-small);
	height: var(--size-large);
	border-radius: calc(var(--size-large) / 2);
	border: var(--thickness-xlarge) solid var(--color-foreground);
	cursor: pointer;
	transition: background-color .1s ease-in-out;
}

.translateButton:hover {
	background-color: var(--color-hover);
}

.translateButton:active {
	background-color: var(--color-interact);
}

.languageSelect {
	height: var(--size-medium);
	border-radius: calc(var(--size-medium) / 2);
	border: var(--thickness-large) solid var(--color-foreground);
	position: relative;
	display: flex;
	align-items: center;
	transition: border-radius .1s ease-in-out;
	max-width: 250px;
	margin: var(--space-small) 0;
}

.languageSelect_focused {
	border-radius: calc(var(--size-medium) / 2) calc(var(--size-medium) / 2) 0 0;
}

.languageSelect-preview {
	padding: 0 var(--space-xsmall);
	border-right: var(--thickness-small) solid var(--color-foreground);
	flex-grow: 0;
	flex-shrink: 0;
}

.languageSelect-textInput {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	color: inherit;
	outline: none;
	font-size: inherit;
	font-family: inherit;
	background-color: transparent;
	border: none;
	flex-grow: 1;
	margin-right: var(--space-xsmall);
}

.languageOptions {
	position: absolute;
	top: 100%;
	left: calc(-1 * var(--thickness-large));
	z-index: 2;
	width: calc(100% + 2 * var(--thickness-large));
	max-height: 250px;
	overflow-y: scroll;
	background-color: var(--color-background);
	border-radius: 0 0 calc(var(--size-medium) / 2) calc(var(--size-medium) / 2);
	border: var(--thickness-large) solid var(--color-foreground);
}

.languageOptions-option {
	padding: var(--space-xsmall);
}

.languageOptions-option_active {
	background-color: rgba(255,255,255,0.3);
}